*.redxml
*.txt
*.html
*.pdf
*.upload
.tags
*~
*.swp
/*-[0-9][0-9].xml
.refcache
.targets.mk
venv/
issues.json
pulls.json
report.xml
lib
draft-cambridge-taps-arch.xml
draft-cambridge-taps-impl.xml
draft-cambridge-taps-interface.xml
